<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book - Home Page</title>
    <style>

    </style>
</head>
<body>
    <h1>Home Page</h1>
    {% if name %}
        <p>Hi {{ name }}, How are you 😊</p>
    {% else %}
        <p>Hi Everyone, How are you 😊</p>
    {% endif %}
    <br />
    <p>Your Age is: {{ age }}</p>

    <ul>
        {% for c in colors %}
            <li>{{ c }}</li>
        {% endfor %}
    </ul>
</body>
<script>
    
</script>
</html>

<!-- 
    Block : Bigin, End 
-->

{% comment %}
{% if condition %}
code 1
{% elif condition_2 %}
code 2
{% else %}
other code
{% endif %}

{% for item in list %}
    code
{% endfor %}
{% endcomment %}